<div class="row m-3">
    <p>Your Name *</p>
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
    <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" required>
      </div>
  </div>
