<div class="row m-3">
    <p>Date and time you first noticed this bug *</p>
    <div class="col-md-6">
    <input type="date" required/>
    </div>
   
</div>
<div class="row m-3">
    <div class="col-md-6">
    <input type="time" required/>
    </div>
</div>
<div class="row m-3">
    <label class="form-label">Impact</label>
    <select class="form-select m-1" aria-label="Default select example">
        <option selected>Low</option>
        <option value="1">High</option>
        <option value="2">Medium</option>
       
      </select>
</div>
<div class="row m-3">
    <label for="validationTextarea" class="form-label">Detailed explanation of bug *</label>
    <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea" required></textarea>
</div>